.header {
  background: #fff;
  padding: 0;

  .trigger {
    font-size: 18px;
    //margin: auto 0;
    //padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .header-title {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    margin: 15px 0 !important;
    padding: 5px 0 5px 20px;
  }

  .user {
    margin-right: 10px;
    float:right;

    .dropdown {
      cursor:pointer;
      margin-top: 10px;
    }
  }




}


